---
import config from "@/config/config.json";
import dateFormat from "@/lib/utils/dateFormat";
import {
  getLangFromUrl,
  getTranslations,
  slugSelector,
} from "@/lib/utils/languageParser";
import { humanize, plainify, slugify } from "@/lib/utils/textConverter";
import { formatNumber, formatTokens } from "@/lib/utils/formatUtils";
import type { ContentEntryMap } from "astro:content";
import { FaRegFolder, FaRegUserCircle } from "react-icons/fa";
import { MdTextFields } from "react-icons/md";
import ImageMod from "./ImageMod.astro";
import CopyIconButton from '../helpers/CopyIconButton';

const { summary_length }: { summary_length: number; model_folder: string } =
  config.settings;
const { data } = Astro.props;
const {
  title,
  id,
  context,
  input,
  output,
  description,
  image,
  categories,
  date,
  author,
  img,
  request,
} = data.data;

const lang = getLangFromUrl(Astro.url);
const { read_more } = await getTranslations(lang as keyof ContentEntryMap);

const slugParts = data.slug.split("/");
slugParts[0] = "models";
const modifiedSlug = slugParts.join("/");
data.slug = modifiedSlug;

---

<div class="bg-body dark:bg-darkmode-body p-6 rounded-lg shadow-md">
  <div class="flex justify-between items-center mb-3">
    <h3 class="text-2xl font-semibold mb-1">
      <a href={slugSelector(`/${data.slug}`, lang)}>
        {title}
      </a>
    </h3>

    <span class="text-gray-400"
      ><MdTextFields className={"mr-2 -mt-1 inline-block"} />
      {
        categories.map((category: string, index: number) => (
          <a href={slugSelector(`/categories/${slugify(category)}`, lang)}>
            {humanize(category)}
            {index !== categories.length - 1 && ","}
          </a>
        ))
      }</span
    >
  </div>
  <div class="flex items-center mb-3">
    <span class="text-gray-400 mr-3">ID: {id}</span>
    <CopyIconButton client:load textToCopy={id} />
  </div>

  <p class="text-lg text-gray-600 mb-4">
    {plainify(data.body?.slice(0, Number(summary_length)))}...
  </p>

  <div class="text-sm text-gray-400 flex flex-wrap gap-x-6 gap-y-2">
    <span
      ><a href={slugSelector(`/authors/${slugify(author)}`, lang)}>
        <FaRegUserCircle className={"mr-2 -mt-1 inline-block"} />
        {humanize(author)}
      </a></span
    >
    <span class="border-l border-gray-200 pl-3"
      >{formatNumber(context)} context</span
    >
    <span class="border-l border-gray-200 pl-3"
      >${formatTokens(input * 1000000)} input tokens</span
    >
    <span class="border-l border-gray-200 pl-3"
      >${formatTokens(output * 1000000)} output tokens</span
    >
    {
      img > 0 && (
        <span class="border-l border-gray-200 pl-3">
          ${formatTokens(img)} image tokens
        </span>
      )
    }
    {
      request > 0 && (
        <span class="border-l border-gray-200 pl-3">
          ${formatTokens(request)} request tokens
        </span>
      )
    }
  </div>

  <!-- {image && (
    <ImageMod
      class="mb-6 w-full rounded"
      src={image}
      alt={title}
      width={445}
      height={230}
      format="webp"
    />
  )} -->
</div>
